@model BitkiDunyasi.Models.Bitki

@{
    ViewData["Title"] = "Edit";
}
<head>
    <style>
        textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
    </style>
</head>


<h2>Düzenle</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BitkiID" />
            <div class="form-group">
                <label asp-for="bitkiAdi" class="control-label"></label>
                <input asp-for="bitkiAdi" class="form-control" />
                <span asp-validation-for="bitkiAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aciklama" class="control-label"></label>
                <textarea input asp-for="aciklama" class="form-control"> </textarea>
                <span asp-validation-for="aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input asp-for="Resim" class="form-control" />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
