
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>BitkiDunyasi</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="icon" type="image/x-icon" href="~/Images/icon.jpeg" />
	<link href="~/css/styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		.bcontent {
			margin-top: 10px;
		}
	</style>
</head>
<body>
	<header>
		<div class="w3-sidebar col w3-card w3-animate-left " style="display:none" id="mySidebar">
			<button class="w3-bar-item w3-button w3-large"
					onclick="w3_close()">
				Close &times;
			</button>
			<a href="#" class="w3-bar-item w3-button">Link 1</a>
			<a href="#" class="w3-bar-item w3-button">Link 2</a>
			<a href="#" class="w3-bar-item w3-button">Link 3</a>
		</div>

		<!-- Responsive navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#!">Bitki Dünyası</a>


				@if (User.Identity.IsAuthenticated)
				{
					if (User.IsInRole("Admin"))
					{
						<li class="nav-item" id="main">
							<button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
						</li>
					}
				}

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						@if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole("Admin"))
							{
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
								</li>
							}
						}
						@if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole("Admin") || User.IsInRole("Kullanici"))
							{
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="Bitki" asp-action="Create">Bitki Oluştur</a>
								</li>

							}
						}
						<li class="nav-item">
							<a class="nav-link " asp-area="" asp-controller="CallBitkiApi" asp-action="Index">Api ile Anasayfayı Goruntule</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Bitki" asp-action="Index">Ana Sayfa</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Hakkında</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
					</>
				</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="row">
							@RenderBody()
						</div>
						<!-- Pagination-->

					</div>
					<!-- Side widgets-->
					<div class="col-lg-4">
						@if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole("Admin") || User.IsInRole("Kullanici"))
							{
								<p>
									<a class="btn btn-primary" asp-controller="Bitki" asp-action="Create">Yeni Bitki Oluştur</a>
								</p>
							}
						}
						<!-- Search widget-->
						<div class="card mb-4">
							<div class="card-header">Bitki Arayın</div>
							<div class="card-body">
								<div class="input-group">
									<input class="form-control" type="text" placeholder="Aranacak Bitkiyi giriniz" aria-label="Aranacak Bitkiyi giriniz" aria-describedby="button-search" />
									<button class="btn btn-primary" id="button-search" type="button">Bul</button>
								</div>
							</div>
						</div>
						<!-- Categories widget-->
						<div class="card mb-4">
							<div class="card-header">Categories</div>
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<ul class="list-unstyled mb-0">
											<li><a href="#!">Ulmus minör Miller (Ova Karaağacı)</a></li>
											<br />
											<li><a href="#!">Robinia pseudoacacia  L. (Beyaz Çiçekli Yalancı Akasya)</a></li>
											<br />
											<li><a href="#!">Salix alba  L.  (Ak Söğüt)</a></li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul class="list-unstyled mb-0">
											<li><a href="#!">Fraxinus angustifolia Vahl. (Sivri Meyveli Diş Budak)</a></li>
											<br />
											<li><a href="#!">Pyrus communis  L. (Ekili Avrupa Armut)</a></li>
											<br />
											<li><a href="#!">Populus alba  L. (Ak Kavak (Akça Kavak))</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Side widget-->
						<div class="card mb-4">
							<div class="card-header">Haydi Sende Kayıt Ol !!!</div>
							<div class="card-body">Sizde bize katılmak için kayıt olarak bitki ekleyebilir, Bitkiler Dünyasındaki sınırsız bilgiye bizim ile birlikte katkıda bulunabilirsiniz.</div>
						</div>
					</div>

				</div>
			</div>

		</main>
	</div>

	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->
		</div>
		<footer class="py-4 bg-dark" id="footer">
			<div class="container footer text-light">
				2022 - BitkiDunyasi - <a class--z asp-area="" asp-controller="Home" asp-action="About">Hakkında</a>
			</div>
		</footer>
	</div>



	<script>
		function w3_open() {
			document.getElementById("main").style.marginLeft = "25%";
			document.getElementById("mySidebar").style.width = "25%";
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("openNav").style.display = 'none';
		}
		function w3_close() {
			document.getElementById("main").style.marginLeft = "0%";
			document.getElementById("mySidebar").style.display = "none";
			document.getElementById("openNav").style.display = "inline-block";
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="~/js/scripts.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
