
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}





<h5>Amacımız, Bitki Dünyası adlı siteyi tasarlayarak herkesin bilgisahibi olmasını ve bildiklerini paylaşmasını amaç edindik.</h5>
<div class="card" style="width: 100%;">
		<div class="row no-gutters">
			
			<div class="col-sm-7">
				<div class="card-body">
					
					<p class="card-text">Ad: Ahmet Göçmen G201210061</p>
					<p>Numara: G201210061</p>
					<p>İletişim bilgileri: ahmet.gocmen@ogr.sakarya.edu.tr</p>
					<p>Adres: Sakarya Üniversitesi</p>
					<p>Hedeflerimiz: Yüksek Notlar almak</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card" style="width: 100%;">
		<div class="row no-gutters">

			<div class="col-sm-7">
				<div class="card-body">

					<p class="card-text">Ad:Eren Kıran</p>
					<p>Numara: G201210031</p>
					<p>İletişim bilgileri: eren.kiran@ogr.sakarya.edu.tr</p>
					<p>Adres: Sakarya Üniversitesi</p>
					<p>Hedeflerimiz: Yüksek Notlar almak</p>
				</div>
			</div>
		</div>
	</div>
<a class="btn btn-primary" asp-controller="Bitki" asp-action="Index">Ana Sayfaya Geri Dön</a>

